/node_modules
/public/hot
/storage/logs
/storage/debugbar
/storage/*.key
/.idea
/.vagrant
/vendor
/database/migrations
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
filters.sublime-project
filters.sublime-workspace
package-lock.json